#page-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
}

#search-container {
    display: flex;
    flex-direction: row;
}

#search-button {
    flex-grow: 1;
}

#srchBtn {
    align-self: center;
}

#search-bar {
    flex-grow: 5;
}

#search-bar-input {
    width: 100%;
}

#add-button {
    flex-grow: 1;
}

.contact-container {
    display: flex;
    
}

#new-contact-info {
    /* display: none; */
    width: 20%;
    height: 20%;
    position: absolute;
    right: 18%;
}

#new-contact-form {
    display: flex;
    flex-direction: column;
}

#new-contact-submit {
    width: 30%;
    align-self: center;
}

#new-contact-form * {
    margin: 3px;
}